{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    <li>
        <a href="ops-dashboard/">{% trans "Operations Dashboard" %}</a>
    </li>
    <li>
        <a href="{% url 'admin:matches_match_export' %}">{% trans "Export All (Excel)" %}</a>
    </li>
    <li>
        <a href="{% url 'admin:matches_match_export' %}?format=csv">{% trans "Export All (CSV)" %}</a>
    </li>
    <li>
        <a href="{% url 'admin:matches_match_import' %}">{% trans "Import" %}</a>
    </li>
    <li>
        <a href="{% url 'admin:matches_match_template' %}">{% trans "Download Import Template" %}</a>
    </li>
    {{ block.super }}
{% endblock %}