{# control_panel/_subnav.html #}
{% load i18n %}
<nav class="subnav">
    <a href="{% url 'control_panel:home' %}" class="subnav-link{% if request.resolver_match.url_name == 'home' %} is-active{% endif %}">{% trans "Overview" %}</a>
    <a href="{% url 'control_panel:match-list' %}" class="subnav-link{% if 'match' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Events" %}</a>
    <a href="{% url 'control_panel:team-list' %}" class="subnav-link{% if 'team' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Teams" %}</a>
    <a href="{% url 'control_panel:stadium-list' %}" class="subnav-link{% if 'stadium' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Venues" %}</a>
    <a href="{% url 'control_panel:venue-image-list' %}" class="subnav-link{% if 'venue-image' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Venue Images" %}</a>
    <a href="{% url 'control_panel:venue-category-list' %}" class="subnav-link{% if 'venue-category' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Venue Categories" %}</a>
    <a href="{% url 'control_panel:section-list' %}" class="subnav-link{% if 'section' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Sections" %}</a>
    <a href="{% url 'control_panel:checklist-category-list' %}" class="subnav-link{% if 'checklist-category' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Categories" %}</a>
    <a href="{% url 'control_panel:checklist-item-list' %}" class="subnav-link{% if 'checklist-item' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Checklist Items" %}</a>
    <a href="{% url 'control_panel:user-list' %}" class="subnav-link{% if 'user' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Users" %}</a>
    <a href="{% url 'control_panel:feedback-list' %}" class="subnav-link{% if 'feedback' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Feedback" %}</a>
    <a href="{% url 'control_panel:release-note-list' %}" class="subnav-link{% if 'release-note' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "What's New" %}</a>
    <a href="{% url 'control_panel:site-settings' %}" class="subnav-link{% if 'site-settings' in request.resolver_match.url_name %} is-active{% endif %}">{% trans "Settings" %}</a>
</nav>
